<template>
  <div class="main-page__auctions section">
    <h2 class="main-page__auctions-title">
      Running Auctions
    </h2>
    <div class="main-page__auctions-list">
      <Slider :items="auctionsList" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'MainPageAuctions',

  components: {
    Slider: () => import('@components/General/Slider'),
  },

  computed: {
    ...mapGetters({
      auctionsList: 'auctions/getAuctionsList',
    }),
  },

};
</script>

<style lang="scss">
  .main-page__auctions {

    &-title {
      margin-bottom: 16px;
    }

    &-list {
      @media (min-width: $sm) {
        margin: 0px -10px;
      }
      @media (min-width: $lg) {
        margin: 0px -15px;
      }

      @media (min-width: $xl) {
        margin: 0px -20px;
      }
    }
  }
</style>
