<template>
  <div class="main-page">
    <Auctions />
  </div>
</template>

<script>

export default {
  name: 'MainPage',

  components: {
    Auctions: () => import('./Auctions'),
  },
};
</script>

<style lang="scss">
  .main-page {
    padding-top: 100px;
  }
</style>
