<template>
  <div class="general-slider">
    <VueSlickCarousel
      class="general-slider__container"
      v-bind="sliderSettings"
    >
      <div
        v-for="item in items"
        :key="item.id"
      >
        <SliderItem
          :item="item"
        />
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
import dayjs from 'dayjs';
import SliderItem from './SliderItem';

export default {
  name: 'GeneralSlider',

  components: {
    SliderItem,
  },

  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    sliderSettings: {
      slidesToShow: 4,
      arrows: true,
      slidesToScroll: 1,
      infinite: false,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
          },
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 2,
          },
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
          },
        },
      ],
    },
  }),

  methods: {
    getDateFromTimestamp(timestamp) {
      return dayjs.unix(timestamp).format('dddd, DD.MM.YYYY, HH:mm');
    },
  },
};
</script>

<style lang="scss">
.general-slider {
  .slick-arrow {
    background-color: transparent;
    border: 0px;
    font-size: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 15px;
    z-index: 5;
    transition: .4s;
    &:hover {
      background: $grey;
    }

    &::before {
      width: 12px;
      height: 12px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      display: block;
      content: '';
      margin: 0;
      position: relative;
    }

    &.slick-disabled {
      &::before {
        border-color: rgba($color: #000000, $alpha: .50) !important;
      }

      &:hover {
        background-color: transparent;
      }
    }

    &.slick-next {
      transform-origin: center;
      transform: translateY(-50%) ;
      right: -15px;

      @media (min-width: $sm) {
        right: -20px;
      }

      &::before {
        transform: rotate(45deg);
        left: 4px;
      }
    }

    &.slick-prev {
      transform-origin: center;
      transform: translateY(-50%);
      left: -15px;

      @media (min-width: $sm) {
        left: -20px;
      }

      &::before {
        transform: rotate(-135deg);
        left: 9px;
      }
    }
  }
}

</style>
