<template>
  <div class="general-slider__item">
    <div class="general-slider__item-image">
      <nuxt-img :src="item.imageSrc" />
    </div>
    <div class="general-slider__item-info">
      <h3 class="general-slider__item-title">
        {{item.title}}
      </h3>
      <p class="general-slider__item-time">
        Endet am {{getDateFromTimestamp(item.timeEnd)}}
      </p>
    </div>
  </div>
</template>

<script>
import dayjs from 'dayjs';

export default {
  name: 'SliderItem',

  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
  },

  methods: {
    getDateFromTimestamp(timestamp) {
      return dayjs.unix(timestamp).format('dddd, DD.MM.YYYY, HH:mm');
    },
  },
};
</script>

<style lang="scss">
  .general-slider__item {
    padding: 0px 15px;

    @media (min-width: $sm) {
      padding: 0px 10px;
    }

    @media (min-width: $lg) {
      padding: 0px 15px;
    }

    @media (min-width: $xl) {
      padding: 0px 20px;
    }
    &-image {
      border-radius: 5px;
      overflow: hidden;
      font-size: 0;
      max-width: 400px;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        font-size: 0;
        object-fit: cover;
      }

      @media (min-width: $sm) {
        max-width: 225px;
        height: 225px;
      }

      @media (min-width: $md) {
        max-width: 210px;
        height: 210px;
      }

      @media (min-width: $xl) {
        max-width: 250px;
        height: 250px;
      }

      @media (min-width: $xxl) {
        max-width: 270px;
        height: 270px;
      }
    }

    &-info {
      margin-top: 10px;
    }

    &-title {
      font-size: 16px;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba(16,24,40,.1);
      margin-bottom: 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
</style>
