<template>
  <div class="header-item">
    <nuxt-link class="header-item-link" :to="item.link">
      {{item.title}}
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'HeaderMenuItem',
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="scss">
  .header-item {
    margin-right: 0px;
    margin-bottom: 15px;

    @media (min-width: $md) {
      margin-right: 15px;
      margin-bottom: 0;
    }

    &-link {
      text-decoration: none;
      color: rgba(16, 24, 40, 0.87);
      transition: .3s;
      padding: 8px 12px;
      border-radius: 4px;

      &:hover {
        background-color: rgba(16, 24, 40, 0.10);
      }
    }
  }
</style>
