<template>
  <div class="page-header__wrapper">
    <header class="page-header section">
      <div class="page-header-logo">
        cm24
      </div>
      <PageHeaderMenu />
    </header>
  </div>
</template>

<script>

export default {
  name: 'PageHeader',

  components: {
    PageHeaderMenu: () => import('./PageHeaderMenu'),
  },

};

</script>

<style lang="scss">
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $md) {
      justify-content: flex-start;
    }

    &__wrapper {
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    }

    &-logo {
      margin-right: 40px;
      color: $blue;
      font-family: cursive;
    }
  }
</style>
