<template>
  <div class="header-menu">
    <nav class="header-menu__list" :class="{'header-menu__list--opened': isMenuOpened}">
      <HeaderMenuItem v-for="item in menuItems" :key="item.id" :item="item" />
    </nav>
    <div class="header-menu__burger">
      <div
        class="burger"
        :class="{'burger--open': isMenuOpened}"
        @click="handleOpenBurger"
      >
        <div class="burger__top" />
        <div class="burger__middle" />
        <div class="burger__bottom" />
      </div>
    </div>
  </div>
</template>

<script>

import menuItems from '~/content/menu';

export default {
  name: 'PageHeaderMenu',

  components: {
    HeaderMenuItem: () => import('./HeaderMenuItem'),
  },

  data: () => ({
    menuItems,
    isMenuOpened: false,
  }),

  methods: {
    handleOpenBurger() {
      this.isMenuOpened = !this.isMenuOpened;
    },
  },
};
</script>

<style lang="scss" scoped>
.header-menu {
  &__list {
    background-color: $grey;
    position: absolute;
    left: -300px;
    top: 0;
    height: 300px;
    width: 200px;
    padding: 30px 15px;
    z-index: 14;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 0px 0px 15px 1px #000;
    transition: .4s;

    &--opened {
      left: 0;
    }

    @media (min-width: $md) {
      display: flex;
      position: relative;
      left: 0;
      height: auto;
      width: auto;
      background-color: transparent;
      box-shadow: none;
      padding: 0px;
    }
  }
  &__burger {
    display: none;
    position: relative;
    z-index: 11;
    display: block;

    .burger {
      position: relative;
      width: 24px;
      height: 17px;
      cursor: pointer;

      &__top, &__middle, &__bottom {
        transition: 0.4s all;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: $blue;
        left: 0;
      }

      &__top {
        top: 0;
      }

      &__middle {
        top: 7px;
      }

      &__bottom {
        bottom: 0;
      }

      &--open {
        .burger__top, .burger__bottom {
          background-color: $blue;
        }

        .burger__top {
          transform: rotate(45deg);
          top: 7px;
        }

        & .burger__middle {
          display: none;
        }

        .burger__bottom {
          transform: rotate(-45deg);
          bottom: 7px;
        }
      }
    }

    @media (min-width: $md) {
      display: none;
    }
  }
}
</style>
