<template>
  <div id="app">
    <PageHeader />
    <main>
      <Nuxt />
    </main>
  </div>
</template>

<script>

export default {
  components: {
    PageHeader: () => import('~/components/PageHeader'),
  },
};
</script>
