<template>
  <MainPage />
</template>

<script>
export default {
  name: 'IndexPage',

  components: {
    MainPage: () => import('@components/MainPage'),
  },

  async fetch({ store }) {
    await store.dispatch('auctions/loadAuctions');
  },
};
</script>
